<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ page.image }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script>
      var elem = document.querySelector('.post-list');

      var iso = new Isotope( elem, {
        itemSelector: '.post-list-item',
        layoutMode: 'fitRows',
        getSortData: {
          misc: '.misc',
          food: '.food',
          fitness: '.fitness',
          code: '.code',
          health: '.health',
          process: '.creative-process',
        }
      });

      var filters = document.querySelector('#filters')

      filters.addEventListener('click', function(event) {
        var filterValue = event.target.getAttribute('data-filter');
        console.log(filterValue)

        iso.arrange({ filter: filterValue });
      });
    </script>
  </body>

</html>
