---
layout: default
---

<div class="home">
  <div class="img-wrapper">
    <img src="/pam-2.png" alt="">
  </div>

    <section>
      <h2>about me</h2>
      <p>
        I am a software engineer who cares deeply about experimenting with new creative ideas and building products that have a positive impact.
        I have worked <a href="https://concert.io/">on the platforms</a> that bring <a href="https://digiday.com/media/deal-native-ad-pains-vox-media-brings-distribution-house/">innovative advertising</a> to <a href="https://voxmedia.com">hundreds of media brands</a>.
        <br/>I am currently working as a systems engineer on the infrastructure that empowers developers to run and scale Vox Media's <a href="https://getchorus.voxmedia.com/">business</a>.
      </p>
      <p>
        On my free time, I organize <a href="https://meetups.com/wearecolorcoded">meetups</a>, <a href="https://www.instagram.com/p/BYqk2NyFtfE/">workshops</a>, <a href="https://www.instagram.com/p/BylA52xhZ6o/">happy hours</a>, and <a href="https://www.instagram.com/p/BZ1cju-ls7e/">fun creative events</a> for <a href="https://wearecolorcoded.us">Color Coded</a>; a community for people of color in tech I founded in 2016.
      </p>

      <p>I also <a href="https://madjescookies.com">bake and ship monthly cookie boxes</a> to share my love for fun flavors and delicious treats!</p>
    </section>

    <section>
      <h2>find me</h2>
      <ul>
        <li>blogging about <a href="https://product.voxmedia.com/2020/5/12/21248098/github-actions-vox-product">work</a> and <a href="https://medium.com/@pam_yam">other things</a></li>
        <li>discussing <a href="https://www.balancethegrind.com.au/interviews/pamela-assogba-systems-engineer-at-vox-media/">balanced remote work</a></li>
        <li>pushing to private repos on <a href="https://github.com/pam-">GitHub</a></li>
        <li>barely tweeting on ..., well, <a href="https://twitter.com/pam_yam">twitter</a></li>
        <li>posting about food on <a href="https://instagram.com/pam_yam">IG</a></li>
      </ul>
    </section>

  </div>
</div>
